@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
/* font-family: 'Work Sans', sans-serif; */

body {
  margin: 0;
  min-height: 100vh;
  /* min-width: 100vw; */
  overflow: hidden;
}

/* Homepage */

.homepage {
  background-color: pink;
  min-height: 100vh;
}

.left-container{
  background-color: rgb(255,245,234);
  display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.right-container{
  background-color: rgb(146, 136, 126);
  display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;
  min-height: 100%;
  
}

.bottom-container{
  float: bottom;
  background-color: aquamarine;
  overflow: scroll;
  color: white;
  background-color: white;
  /* margin: auto; */
  text-decoration: none;
  flex-direction: row;
  display: inline;
  flex-wrap: nowrap;
  display: flex;
  padding: 20px;
}

.welcome-box{
  position: relative;
  padding: 40px;
  top: 25%;
}

.hi{
  font-size: 20px;
  margin-bottom: 5vh;
  font-family: 'Work Sans', sans-serif;
}

.name{
  max-width: 50%;
  margin-bottom: 5vh;
}

.fsd{
  font-size: 23px;
  font-family: 'Work Sans', sans-serif;
}

.card{
  display: inline-block;
  margin: auto;
}